:root {
  --green-gray-scale-900: #002603;
  --green-gray-scale-800: #173b1a;
  --green-gray-scale-700: #2b572e;
  --green-gray-scale-600: #406b42;
  --green-gray-scale-500: #618062;
  --green-gray-scale-400: #7a997c;
  --green-gray-scale-300: #96b297;
  --green-gray-scale-200: #b4ccb4;
  --green-gray-scale-100: #dae5da;
  --green-gray-scale-50: #edf2ee;
  --gray-scale-gray---900: #1a1a1a;
  --gray-scale-gray---800: #333;
  --gray-scale-gray---700: #4d4d4d;
  --gray-scale-gray---600: #666;
  --gray-scale-gray---500: #808080;
  --gray-scale-gray---400: #999;
  --gray-scale-gray---300: #b3b3b3;
  --gray-scale-gray---200: #ccc;
  --gray-scale-gray---100: #e5e5e5;
  --gray-scale-gray---50: #f2f2f2;
  --gray-scale-white: #fff;
  --branding-success-bright: #84d187;
  --branding-success: #00b207;
  --branding-success-dark: #2c742f;
  --branding-warning: #ff8a00;
  --branding-error: #ea4b48;
  --font-family: "Poppins", sans-serif;
  --second-family: "Segoe Script", sans-serif;
  --third-family: "Dancing Script", sans-serif;
}

body {
  font-family: var(--font-family);
}

/* ================ CSS heading START ================ */
#heading {
  background: var(--gray-scale-gray---800);
  color: var(--gray-scale-white);
  /* color: red; */
  padding: 10px;
  align-items: center;
}
#heading .location {
  display: inline-block;
  align-items: center;
  line-height: 0;
  color: var(--gray-scale-gray---300);
}
#heading .location_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--gray-scale-gray---300);
  padding-left: 8px;
}
#heading .heading_right {
  /* background-color: red; */
  display: flex;
  justify-content: right;
}
#heading .heading_right select {
  /* background-color: red; */
  background: transparent;
  border: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  text-align: center;
  color: var(--gray-scale-gray---300);
}
#heading .heading_right .heading_right_secondary a {
  /* background-color: red; */
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--gray-scale-gray---300);
  text-decoration: none;
}
#heading .heading_right .heading_right_line {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: var(--gray-scale-gray---300);
}
#heading .heading_right .divider {
  color: rgba(255, 255, 255, 0.3);
  margin: 0 10px;
}
/* ================ CSS heading END ================ */

/* ================ CSS heading 2 START ================ */
#secondary_heading .search_bar {
  display: flex;
  position: relative;
}

#secondary_heading .search_bar input {
  width: 80%;
  padding: 12px;
  padding-left: 30px;
  border: 1px solid var(--gray-scale-gray---500);
  border-radius: 6px 0 0 6px;
}
#secondary_heading .search_bar input:focus {
  outline: none;
}
#secondary_heading .search_icon {
  position: absolute;
  top: 30%;
  left: 10px;
}
#secondary_heading .search_btn {
  background: var(--branding-success);
  border: none;
  border-radius: 0 6px 6px 0;
  color: var(--gray-scale-white);
  padding: 0 24px;
}
#secondary_heading .cart_parent {
  display: flex;
  justify-content: end;
  align-items: center;
  line-height: 0px;
}
#secondary_heading .shopping_bag {
  display: flex;
  position: relative;
}
#secondary_heading .shopping_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  color: var(--gray-scale-gray---700);
}
#secondary_heading .price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--gray-scale-gray---900);
}
#secondary_heading .margin_l {
  margin-left: 12px;
}
#secondary_heading .count {
  background-color: var(--branding-success-dark);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: var(--gray-scale-white);
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  text-align: center;
  color: var(--gray-scale-white);

  position: absolute;
  left: 15px;
}
#secondary_heading .bar {
  width: 2px;
  height: 24px;
  background-color: #cccccc;
  margin: 0 16px;
}
/* ================ CSS heading 2 END ================ */

/* ================ CSS navigation START ================ */
#nav{
  background: var(--gray-scale-gray---50);
}

#nav .category_bar {
  /* background-color: red; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0%;
  background-color: #00b207;
  border: none;
}
#nav li {
  /* background-color: red; */
  display: inline-flex;
  align-items: center;
}

#nav .dropdown-toggle::after {
  display: none;
}
#nav .main_text {
  margin: 0 8px;
  padding: 8px 0;
}
#nav .dropdown-menu.show {
  border-radius: 0%;
  width: 100%;
  border: none;
  background: #f5f1f1;
}
#nav .dropdown-menu.show .dropdown-item {
  padding: 8px 10px;
}
#nav .dropdown-link {
  background-color: transparent;
  color: #000;
  border: none;
  display: inline-flex;
  line-height: 0px;
  align-items: center;
}
#nav .phone {
  /* background-color: red; */
  display: inline-flex;
  align-items: center;
  /* justify-content: center; */
  line-height: 0px;
}
#nav .phone a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--gray-scale-gray---900);
  margin-left: 5px;
}
#nav .mobile_menu_bar{
  background-color: transparent;
  margin: 0;
  padding: 5px;
  border: none;
  display: inline-flex;
  align-items: center;
  line-height: 0;
  border-radius: 0%;
  color: #000;
}

.offcanvas{
  max-width: 350px !important;
  width: 80% !important;
  /* background-color: red; */
}
/* ================ CSS navigation END ================ */



